<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BCI_Chips</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BCI_Chips.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
             <div class="navbar-container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Brain-Computer Interfaces</a>
                </div>
                <div style="align-content: center; margin-left:-150px;">
                    <ul class="navbar-links">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="TechnologyTopic">Technology Topic</a></li>
                        <li><a asp-controller="Home" asp-action="Opportunities">Opportunities</a></li>
                        <li><a asp-controller="Home" asp-action="Risks">Risks</a></li>
                        <li><a asp-controller="Home" asp-action="Choices">Choices</a></li>
                        <li><a asp-controller="Home" asp-action="References">References</a></li>
                        <li class="nav-item" style="margin-left:5px;">
                            <div class="nav-item dropdown" style="margin-right:20px">
                                <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Process Support
                                </a>
                                <div class="dropdown-menu" style="max-width:100%; text-align:center;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="color:#2b5876;" href="@Url.Action("TeamFormation", "Home" )">Team Formation</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="color:#2b5876;" href="@Url.Action("MeetingMinutes", "Home" )">Meeting Minutes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="color:#2b5876; white-space: normal;" href="@Url.Action("GuidelineConform", "Home" )">Guideline Conformance Form</a>
                            </div>
                            </div>
                        </li>
                    </ul>
             </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BCI_Chips - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
